### 1. You are given two strings s and t. String t is generated by randomly shuffling string s and then adding one more letter at a random position. Return the letter that was added to t

In [12]:
def find_the_difference (s,t):
    """This is a function to identify the difference letter between two strings"""
    
    dict_s={}
    dict_t={}
    
    if len(s)==0:
        return (t)

    else:
        for i in t:          # Creating a dictonary for string s containing keys from string t assigned to 0
            dict_s[i]=0
    
        for i in s:          # Increasing the value associated with keys for dictonary s based on character occurances in s
            dict_s[i]=dict_s[i]+1
    
        for i in t:         # Creating a dictonary for string t containing keys from string t assigned to 0
            dict_t[i]=0
    
        for i in t:         # Increasing the value associated with keys for dictonary t based on character occurances in t
            dict_t[i]=dict_t[i]+1
    
        for i in dict_t:    # Comparing both the dictonaries for values of keys and detecting mismatch as additional letter
            if dict_t[i]!= dict_s[i]:
                return(i)

In [13]:
find_the_difference("abcd", "abcde")

'e'

In [14]:
find_the_difference("", "y")

'y'

In [15]:
find_the_difference("ae", "aea")

'a'

### 2. Given a function that accepts unlimited arguments, check and count how many data types are in those arguments. Finally return the total in a list.

List order is:

[int, str, bool, list, tuple, dictionary]

In [32]:
def count_datatypes (*args):
    """This is a function to count occurances of distinct data types in a given list"""
    dict_types={int:0, str:0, bool:0, list:0, tuple:0, dict:0}
    list_out=[]
    
    for i in args:
        for j in dict_types:
            if type(i) == j:
                dict_types[j]= dict_types[j]+1
        
    for i in dict_types:
        list_out.append(dict_types[i])
    
    return list_out

In [33]:
count_datatypes(1, 45, "Hi", False)

[2, 1, 1, 0, 0, 0]

In [34]:
count_datatypes([10, 20], ("t", "Ok"), 2, 3, 1)

[3, 0, 0, 1, 1, 0]

In [35]:
count_datatypes("Hello", "Bye", True, True, False, {"1": "One", "2": "Two"}, [1, 3], {"Brayan": 18}, 25, 23)

[2, 2, 3, 1, 0, 2]

In [36]:
count_datatypes(4, 21, ("ES", "EN"), ("a", "b"), False, [1, 2, 3], [4, 5, 6])

[2, 0, 1, 2, 2, 0]

### 3. Create a function to return desired number of terms of Fibonacci string generated based on given characters

In [41]:
def fib_str (n,l):
    """This is a function to generate first n terms of Fibonacci string generated from given characters"""
    s1=l[0]
    s2=l[1]
    fibo=[]

    fibo.append(s1)
    fibo.append(s2)

    for i in range(2,n):
        fibo.append(fibo[i-1]+fibo[i-2])
    
    return fibo

In [42]:
fib_str(3, ["j", "h"])

['j', 'h', 'hj']

In [43]:
fib_str(5, ["e", "a"])

['e', 'a', 'ae', 'aea', 'aeaae']

In [44]:
fib_str(6, ["n", "k"])

['n', 'k', 'kn', 'knk', 'knkkn', 'knkknknk']

### 4. Given an integer between 0 and 26, make a variable (self.answer). That variable would be assigned to a string in this format:

"nines:your answer, threes:your answer, ones:your answer"

You need to find out how many ones, threes, and nines it would at least take for the number of each to add up to the given integer when multiplied by one, three or nine (depends)

In [58]:
def ones_threes_nines (no):
    """This is a function to give the split of entered number in number of once, threes & nines"""
    if no<27 and no>=0:
        onces=0
        threes=0
        nines=0

        while (1*onces+3*threes+9*nines != no):
            if no>= 1*onces+3*threes+9*nines+9:
                nines=nines+1
            elif no>= 1*onces+3*threes+9*nines+3:
                threes=threes+1
            else:
                onces=onces+1

        out_dict={'nines':nines,'threes':threes,'ones':onces}
        return(out_dict)
    else:
        return "Enter a number between 0 to 26"

In [59]:
ones_threes_nines(10)

{'nines': 1, 'threes': 0, 'ones': 1}

In [60]:
ones_threes_nines(15)

{'nines': 1, 'threes': 2, 'ones': 0}

In [61]:
ones_threes_nines(22)

{'nines': 2, 'threes': 1, 'ones': 1}

In [62]:
ones_threes_nines(28)

'Enter a number between 0 to 26'

### Write a non-recursive function that takes an integer n and returns the Fibonacci sequence's value at index n.

In [63]:
def fib(n):
    """This is a non recursive function to give required indexed term of fibonacci series"""
    fibo=[]
    fibo.append(0)
    fibo.append(1)
    for i in range (2,n+1):
        fibo.append(fibo[i-1]+fibo[i-2])
    return fibo[n]

In [64]:
fib(6)

8

In [65]:
fib(1)

1

In [66]:
fib(2)

1